<div class="cart-container">
    <h1 class="cart-title">Carrito</h1>
    <div class="cart-list" id={{cart._id}}>
    {{#if cart.products}}
        <button onclick="clearCart(event)" class="clear-button waves-effect waves-light btn-large">Vaciar carrito</button>
        {{#each cart.products}}
            <div id={{product._id}} class="product-item">
                <p class="product-title">{{product.title}}</p>
                <p class="product-price">${{product.price}}</p>
                <p class="product-amount">cantidad: <span class="quantity-tag">{{quantity}}</span></p>
                <p class="subtotal">Subtotal: ${{#multiply product.price quantity}}{{/multiply}}</p>
                <button onclick="removeProduct(event)" class="remove-button waves-effect waves-light btn-small yellow darken-4">Remover</button>
            </div>
        {{/each}}
        <button onclick="purchase(event)" class="purchase-button waves-effect waves-light btn-large green darken-4">Comprar</button>
    {{else}}
        <p>El carrito esta vacio</p>
    {{/if}}
    </div>
</div>


<script src="/statics/js/cart.js"></script>