<div class='users-container'>
  <h2>Lista de usuarios</h2>
  <table class='users-table'>
    <tr>
      <th></th>
      <th class='header'>Email</th>
      <th class='header'>Rol</th>
      <th class='header'>Tipo de acceso</th>
    </tr>
    {{#each usersList}}
      <tr>
        <td>
          {{#if profile_pic}}
            <div class='profile-img-container'>
              <img
                src='../../statics/profiles/{{profile_pic.originalName}}'
                alt='profile picture'
                class='profile-pic'
                width='100px'
              />
            </div>
          {{/if}}
        </td>
        <td>{{email}}</td>
        <td>{{role}}</td>
        {{#if github_login}}
          <td>github</td>
        {{else}}
          <td>local</td>
        {{/if}}
        <td>
          <button
            class='waves-effect waves-light btn-small'
            onclick='deleteUser(`{{_id}}`)'
          >Eliminar</button>
        </td>
        <td>
          <a
            class='waves-effect waves-light btn-small'
            onclick='changeRole(`{{_id}}`)'
          >Cambiar rol</a>

        </td>
      </tr>
    {{/each}}
  </table>
  <div class='container_button-delete center-align'>
    <button
      onclick='deleteInactive()'
      class='waves-effect waves-light btn-small'
    >Eliminar usuarios inactivos</button>
  </div>
</div>

<script src='/statics/js/users.js'></script>